@import "../partials/navbar/nav.scss";
@import "../partials/footer/footer.scss";
@import "../partials/beats-pill/beats-pill.scss";
@import "../partials/navbar/burger.scss";
/*@import "../css/product.scss";*/
@import "../partials/detail-page/detail_recommend.scss";
@import "../partials/detail-page/detail_video.scss";

.slider__container{
  display: flex;
  width: 100%;
}

.detail-slider__container {
  position: relative;
  width: 22.5%;
  padding-left: 95px;
  padding-top: 73px;
}

.detail-slider__container img {
  width: 168px;
}

/* Переопределение стилей для секции Beats-pill */

.beats-pill__container{
  display: inline-flex;
  flex-direction: row-reverse;
}
.beats-pill__img{
  width: 100%;
  padding: 105px 0 0 63px;
}
.beats-pill__slider_dots{
  display: none;
}
.beats-pill__product{
  margin: 0;
  padding-top: 132px;
  padding-left: 36px;
}

/* Переопределение стилей Product */

.product__list-item{
  display: inline-flex;
}
