@import "../partials/navbar/nav.scss";
@import "../partials/footer/footer.scss";
@import "../partials/beats-pill/beats-pill.scss";
@import "../partials/navbar/burger.scss";
@import "../partials/products/product.scss";
@import "../partials/detail-page/detail_video.scss";
@import "../css/_mix.scss";
@import "../partials/detail-page/detail_slider.scss";


/**** Переопределение стилей для секции Beats-pill ****/
.beats-pill__container{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  @include mobile{
    flex-direction: column-reverse;
    margin: 0;
  }
}
.beats-pill__product{
  padding: 127px 0 0 33px;
  @include width576-1024{
    margin: 0;
    padding: 60px 0 0 0;
  }
  @include mobile{
    padding: 0 0 0 17px;
  }
}

.beats-pill__slider{
  width: 70%;
  height: 80%;
  @include mobile{
    margin: 0;
  }
}
.beats-pill__prev, .beats-pill__next{
  @include width576-1024{
    display: none;
  }
  @include medium-size{
    display: none;
  }
}

/**** Переопределение стилей Product ****/

.product__slider{
  @include mobile{
    margin: 0;
  }
}
.product{
  margin: 0 104px 0 94px;
  @include mobile{
    grid-template-columns: 1fr 1fr;
  }
  &__container{
    @include mobile{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    }
    img{
      @include mobile {
        width: 90%;
      }
    }
  }
  &__description{
    @include mobile {
      width: 90%;
      padding: 0;
    }
  }
  &_buy{
    @include mobile {
      padding: 0 0 11px 0;
    }
  }
  &_title{
    @include mobile {
      font-size: 18px;
    }
  }
  &_text{
    @include mobile {
      font-size: 8px;
      margin: 0;
      line-height: 12px;
    }
  }
  &_price{
    @include mobile {
      font-size: 11px;
      line-height: 13px;
    }
  }
  &_btn{
    @include mobile {
      width: 68px;
      height: 20px;
      font-size: 9px;
      line-height: 11px;
      border-radius: 100px;
    }
  }
}

