@import "../partials/navbar/nav.scss";
@import "../partials/footer/footer.scss";
@import "../partials/beats-pill/beats-pill.scss";
@import "../partials/navbar/burger.scss";
@import "../partials/products/product.scss";
@import "../partials/detail-page/detail_video.scss";
@import "../css/_mix.scss";
@import "../partials/detail-page/detail_slider.scss";


/**** Переопределение стилей для секции Beats-pill ****/
.beats-pill__container{
  display: inline-flex;
  flex-direction: row-reverse;
  @include mobile{
    flex-direction: column-reverse;
    margin: 0;
  }
  @include very-small{
    flex-direction: column-reverse;
  }
}

.beats-pill__img {
  @include width576-1024 {
    padding: 0;
    width: 100%;
    max-width: 85%;
    position: absolute;
  }
}

.beats-pill__slider{
  max-width: 600px;
  width: 100%;
  padding-top: 127px;
  padding-left: 63px;
  @include mobile{
    margin: 0;
    padding: 0;
  }
  @include width-1024{
    padding-top: 0;
  }
  @include width-768{
    padding: 0;
  }
}

.beats-pill__slider_dots{
  display: none;
}

.beats-pill__product {
  padding: 127px 0 0 33px;
  @include mobile {
    padding: 0 28px;
  }
  @include very-small {
    padding-left: 96px;
    padding-top: 75px;
    margin: 0;
  }
  @include width576-1024{
    width: 100%;
    position: relative;
    padding-top: 550px;
  }
}

.beats-pill__button{
  margin-left: 170px;
}

.detail__beats-pill{
  @include mobile {
    width: 100%;
  }
}

.m_beats-pill__img{
  padding: 0;
}

.m_beats-pill__slider{
}
/**** Переопределение стилей Product ****/

.product {
  overflow: hidden;
  display: grid;
  @include mobile{
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  &__list{
    position: relative;
    overflow: hidden;
  }
  &__list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 58px 0;
    @include width-1024{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__img{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 11px;
    @include mobile {
    }
  }
}
