@import "src/css/mix_fonts";
@import "src/css/mix";

.detail__menu_head{
  padding-left: 100px;
  padding-right: 100px;
  height: 40px;
  width: 100%;
  @include mobile_size{
    padding-right: 20px;
    padding-left: 20px;
  }
}

.detail__list-items {
  display: inline-flex;
  background: rgba(148, 146, 151, 0.15);
  width: 100%;
  padding-left: 3.2%;
  list-style: none;
  @include fonts_bold;
  font-size: 18px;
  line-height: 55px;
  @include mobile{
    background: none;
    padding-left: 0;
  }
  a{
    padding-right: 60px;
    text-decoration: none;
    color: rgba(43, 40, 53, 0.5);
    @include mobile{
      color: $bg_main;
    }
  }
  a:hover{
    color: #2B2835;
    font-size: 20px;
  }
}
.detail__menu_character, .detail__menu_reviews {
  @include mobile{
    display: none;
  }
}

.detail__description{
  @include fonts_normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  @include mobile_size{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.detail__video{
  position: relative;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 130px;
}
.video-beats{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  @include mobile_size{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.video-button {
  position: absolute;
  max-width: 10%;
  left: 44.7%;
  top: 35%;
}
