<div class="slider__beats">
  <div class="slider__beats_top"></div>
  <div class="slider__beats_img">
    <img class="slider__item-img" src="../../img/detail/beats_icons1.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons2.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons3.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons4.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons5.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons6.png" alt="">
    <img class="slider__item-img" src="../../img/detail/beats_icons7.png" alt="">
  </div>
  <div class="slider__beats_bottom"></div>
</div>
