@import "../../css/mix_fonts";
@import "../../css/mix";

.pagination{
  margin: 0;
  border: 0;
  padding-left: 436px;
  padding-top: 40px;
  padding-bottom: 110px;
  @include mobile_size{
    padding-left: 33%;
  }
  .number-page, .next-page, .prev-page{
    display: inline-block;
    list-style: none;
    border: 1px solid #B8B8B8;
    width: 32px;
    height: 32px;
    a{
      text-decoration: none;
      padding: 10px;
      color: $change_color3;
      @include fonts_normal;
      font-size: 14px;
      line-height: 17px;
    }
    a:hover{
      color: $bg_button;
    }
  }
  .number-page:hover{
    border: 1px solid $bg_button;
  }
  .prev-page, .next-page{
    border: none;
  }
}
