<section class="beats-pill">
  <div class="beats-pill__container">
    <div class="beats-pill__product">
      <div class="beats-pill__title">
        <p class="beats-pill__description">Portable Wireless Speaker</p>
        <h2 class="beats-pill__name">Beats Pill<sup>+</sup></h2>
      </div>
      <div class="beats-pill__color">
        <p class="beats-pill__change">Available Colors</p>
        <p class="beats-pill__find">Find your Color</p>
      </div>
      <div class="beats-pill__change-color">
        <a href="#"><p class="beats-pill__change-color_white beats-pill__change-color_white_active"></p></a>
        <a href="#"><p class="beats-pill__change-color_red"></p></a>
        <a href="#"><p class="beats-pill__change-color_black"></p></a>
      </div>
      <div class="beats-pill__price">
        <p class="beats-pill__buy">$299.95</p>
        <button class="beats-pill__button"><a href="./contacts.html">buy now</a></button>
      </div>
      <div class="beats-pill__music">
        <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
      </div>
    </div>
    <div class="beats-pill__slider">
      <div class="m_beats-pill__slider">
        <button class="beats-pill__prev" id="button_prev"> < </button>
        <img class="beats-pill__img" src="../../img/bitmap_1.svg" alt="slider">
        <img class="m_beats-pill__img" src="../../img/mobile/m_bitmap_2.svg" alt="m-slider">
        <img class="m_beats-pill__slide" id="m_beats-pill__img_slide">
        <button class="beats-pill__next" id="button_next"> > </button>
      </div>
      <div class="beats-pill__slider_dots">
        <div class="beats-pill__slider_active"></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
