<section class="product">
  <div class="product__list-item">
    <div class="slider__beats_top"></div>
    <div class="product__list" id="sale">
      <div class="product__img">
        <img class="product-image" src="../../img/product_1.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img" id="new">
        <img class="product-image" src="../../img/product_2.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image" src="../../img/product_3.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image" src="../../img/product_4.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image" src="../../img/product_5.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image" src="../../img/product_6.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image" src="../../img/product_7.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>

    <div class="product__list">
      <div class="product__img">
        <img class="product-image"   src="../../img/product_8.png">
      </div>
      <div class="product__title">
        <h2>Beatsˣ</h2>
        <p class="product__description">
          Up to 8 hours of battery life
          With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
          2 hours of playback
        </p>
        <div class="product__buy">
          <p class="product__price">$299.95</p>
          <button class="product__button">BUY NOW</button>
        </div>
      </div>
    </div>
    <div class="slider__beats_bottom"></div>
  </div>
</section>
