@import "src/css/mix";
@import "src/css/mix_fonts";

.slider__beats_top,
.slider__beats_bottom{
  display: none;
}

.product{
  &__list-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    max-width: 100%;
    flex-wrap: wrap;
    padding-left: 97px;
    padding-right: 99px;
    margin-top: 170px;
    justify-content: center;
    @include mobile{
      padding-right: 21px;
      padding-left: 13px;
    }
    @include width-1024{
      grid-template-columns: 1fr 1fr;
      margin-top: 100px;
    }
    @include medium-size{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__img {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 11px;
    @include mobile {
    }
  }
  &__list {
    display: grid;
    align-items: end;
    grid-template-rows: auto 1fr;
    justify-items: center;
    background: $bg_product;
    @include mobile{
      max-width: 100%;
      margin: 0;
    }
  }
  &__title {
    padding: 0 20px 36px 21px;
    @include mobile{

    }
    h2 {
      @include fonts_normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 55px;
      color: $bg_main;
    }
  }
  &__description {
    @include fonts_normal;
    font-size: 14px;
    line-height: 21px;
    color: #030303;
    text-align: left;
  }
  &__buy {
    display: inline-flex;
    position: relative;

    @include fonts_normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #9D8220;
    @include mobile{
      margin-top: 0;
    }
  }
  &__price{
    flex: auto;
    margin-top: 25px;
    @include mobile{
      margin-top: 21px;
    }
  }
  &__button {
    flex: auto;
    background: black;
    @include fonts_normal;
    font-size: 14px;
    height: 41px;
    color: $bg_text;
    width: 145px;
    margin-left: 13px;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    transition: background 0.5s ease;
    @include mobile{
      margin-top: 15px;
      margin-right: 63px;
    }
  }
  &__button:hover {
    background: $bg_btn_hover;
  }
}









