@import "src/css/mix";
@import "src/css/mix_fonts";

.product{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mobile {
    margin: 0;
    padding: 0;
  }
  &__part{
    flex: auto;
    max-width: 296px;
    width: 100%;
    background: $bg_product;
    margin: 40px 20px 0 0;
    &_image{
      text-align: center;
      padding-top: 5%;
      max-height: 306px;
      height: 100%;
    }
    &_title{
      @include fonts_normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 55px;
      padding: 0 0 0 20px;
    }
    &_description{
      @include fonts_normal;
      font-size: 14px;
      line-height: 21px;
      padding: 20px 0 0 20px;
    }
    &_buy{
      display: flex;
      padding: 20px 0 36px 20px;
    }
    &_price{
      @include fonts_normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: $clr_price;
      padding: 5px 0 0 0;
    }
    &_button{
      @include fonts_normal;
      width: 145px;
      height: 41px;
      border-radius: 100px;
      background: black;
      color: white;
      text-transform: uppercase;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-left: 13px;
      transition: background 0.5s ease;
    }
    &_button:hover{
      background: $bg_button;
    }
  }
}
.stick-hidden{
  display: none;
}
// Пагинация на блоке с продуктами

.pagination__list{
  text-align: center;
  display: block;
  @include mobile{
  }
  .number-page, .next-page, .prev-page{
    padding-top: 8px;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    list-style: none;
    border: 1px solid #B8B8B8;
    width: 32px;
    height: 32px;
    a{
      text-decoration: none;
      padding: 10px;
      color: $change_color3;
      @include fonts_normal;
      font-size: 14px;
      line-height: 17px;
    }
    a:hover{
      color: $bg_button;
    }
  }
  .number-page:hover{
    border: 1px solid $bg_button;
  }
  .prev-page, .next-page{
    border: none;
  }
}
.pagination_hidden{
  display: none;
}

