@import "src/css/mix";
@import "src/css/mix_fonts";

.footer__main {
  margin: 0 auto;
  background: $bg_main;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 55px 0 49px 0;
  @include mobile-size{
    flex-direction: column;
    text-align: center;
  }
}
.footer__list{
  display: flex;
  width: 713px;
  list-style: none;
  @include mobile-size{
    flex-direction: column;
    max-width: 1023px;
    width: 100%;
  }
}
.footer__list_title, .footer__list_link, .footer__list_link a{
  text-decoration: none;
  list-style: none;
}
.footer__list_link{
  @include fonts_normal;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  opacity: 0.7;
  @include mobile-size{
    opacity: 1;
  }
  a{
    color: $bg_text;
    &:hover{
      color: $bg_btn_hover;
    }
  }
}
.footer__list_title{
  @include fonts_bold;
  font-size: 24px;
  line-height: 31px;
  color: $bg_text;
  text-transform: capitalize;
  @include mobile-size{
    @include fonts_normal;
    font-weight: 600;
    font-size: 18px;
  }
}
.footer__logo{
  padding-right: 99px;
  @include mobile-size{
    padding: 0 0 35px 0;
  }
  @include medium-size{
    padding-left: 20px;
    padding-right: 50px;
  }
}
.footer__list_support, .footer__list_company{
  padding-left: 88px;
  @include mobile-size{
    padding: 0;
  }
  .footer__list_link{
    @include mobile{
      display: none;
    }
  }
}
.footer__list_products{
  @include mobile-size{
    padding-bottom: 25px;
  }
}
.footer__list_support{
  @include mobile-size{
    padding: 2px 0 17px 0;
    border-top: 0.5px solid rgba(0,0,0,0.39);
  }
}
.footer__list_company{
  @include mobile-size{
    padding: 2px 0 13px 0;
    border-top: 0.5px solid rgba(0,0,0,0.39);
  }
}
.footer__follow{
  @include fonts_bold;
  font-size: 18px;
  color: $bg_text;
  padding-left: 90px;
  @include mobile-size{
    padding: 11px 0 0 0;
    @include fonts_normal;
    font-weight: 600;
    font-size: 12px;
    border-top: 0.5px solid rgba(0,0,0,0.39);
  }
  @include medium-size{
    padding-left: 0;
  }
}
.footer__follow_social{
  padding-top: 30px;
  @include mobile-size{
    font-size: 20px;
  }
}
.fab{
  background: #EAEAEA;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  color: $bg_main;
  text-align: center;
  padding-top: 6px;
  margin-right: 14px;
}
.footer__copyright{
  background: $bg_main;
  text-align: center;
  padding: 14px 0 20px 0;
  @include mobile-size{
    display: none;
  }
}
.footer__copyright_text{
  @include fonts_normal;
  color: white;
  font-size: 12px;
  opacity: 0.37;
}
