<footer class="footer">
  <div class="footer__main">
    <div class="footer__logo">
      <img src="../../img/logo.png" alt="footer logo">
    </div>
    <div class="footer__menu">
      <ul class="footer__list">
        <li class="footer__list_products">
          <ul>
            <li class="footer__list_title">products</li>
            <li class="footer__list_link"><a href="#">headphones</a></li>
            <li class="footer__list_link"><a href="#">earphones</a></li>
            <li class="footer__list_link"><a href="#">speakers</a></li>
            <li class="footer__list_link"><a href="#">accessories</a></li>
            <li class="footer__list_link"><a href="#">collaborations</a></li>
            <li class="footer__list_link"><a href="#">beatsaudio</a></li>
            <li class="footer__list_link"><a href="#">special offers</a></li>
          </ul>
        </li>
        <li class="footer__list_support">
          <ul>
            <li class="footer__list_title">support</li>
            <li class="footer__list_link"><a href="#">product help</a></li>
            <li class="footer__list_link"><a href="#">service & warranty</a></li>
            <li class="footer__list_link"><a href="#">register your beats</a></li>
            <li class="footer__list_link"><a href="#">update your beats</a></li>
            <li class="footer__list_link"><a href="#">authorized service providers</a></li>
            <li class="footer__list_link"><a href="#">contact support</a></li>
            <li class="footer__list_link"><a href="#">international numbers</a></li>
          </ul>
        </li>
        <li class="footer__list_company">
          <ul>
            <li class="footer__list_title">company</li>
            <li class="footer__list_link"><a href="#">product help</a></li>
            <li class="footer__list_link"><a href="#">news and events</a></li>
            <li class="footer__list_link"><a href="#">promotion terms</a></li>
            <li class="footer__list_link"><a href="#">privacy policy</a></li>
            <li class="footer__list_link"><a href="#">trademark</a></li>
            <li class="footer__list_link"><a href="#">terms of use</a></li>
            <li class="footer__list_link"><a href="#">cookies</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer__follow">
      <h2>Follow Us</h2>
      <div class="footer__follow_social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright_text">Copyright © 2020 Apple Inc. - All rights reserved.</p>
  </div>
</footer>
