@import "../partials/navbar/nav.scss";
@import "../partials/footer/footer.scss";
@import "../partials/navbar/burger.scss";
@import "../partials/products/product.scss";
@import "../css/filter_products.scss";
@import "../css/filter_change_color.scss";
@import "../css/_mix_fonts.scss";
@import "../css/_mix.scss";
@import "../partials/filter-page/pagination";

.filter__title_mobile {
  display: none;
  @include mobile{
    display: block;
    position: absolute;
    top: 63px;
    left: 29px;
    @include fonts_bold;
    font-size: 32px;
    line-height: 35px;
  }
}

.container__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/**** Переопределение стилей для Products ****/

.product__list-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 296px));
  grid-template-rows: repeat(2, 543px);
  @include width-768{
    padding: 0 45px 0 45px;
  }
}

.product__img{
  object-fit: cover;
}

.product__hidden{
  display: none;
}



