@import "../css/nav.scss";
@import "../css/footer.scss";
@import "../css/burger.scss";
@import "../css/product.scss";
@import "../css/filter_products.scss";
@import "../css/filter_change_color.scss";


.container__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1440px;
}
.filter__products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
  margin-top: 78px;
}
