<section class="beats-pill">
  <div class="beats-pill__container">
    <div class="beats-pill__product">
      <div class="beats-pill__title">
        <p class="beats-pill__description">Portable Wireless Speaker</p>
        <h2 class="beats-pill__name">Beats Pill<sup>+</sup></h2>
      </div>
      <div class="beats-pill__color">
        <p class="beats-pill__change">Available Colors</p>
        <p class="beats-pill__find">Find your Color</p>
      </div>
      <div class="change-color">
        <a href="#"><p class="color-white"></p></a>
        <a href="#"><p class="color-red"></p></a>
        <a href="#"><p class="color-black"></p></a>
      </div>
      <div class="beats-pill__price">
        <p class="beats-pill__buy">$299.95</p>
        <button class="beats-pill__button">BUY NOW</button>
      </div>
      <div class="beats-pill__music">
        <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
      </div>
    </div>
    <div class="beats-pill__slider">
      <div>
        <img class="beats-pill__img" src="../img/bitmap_1.jpg" alt="slider">
        <img class="m_beats-pill__img" src="../img/mobile/m_bitmap_2.svg" alt="m-slider">
      </div>
      <div class="slider">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
