<body>
<ul class="burger-menu__box">
  <li><a class="menu__item" href="#">HEADPHONES</a></li>
  <li><a class="menu__item" href="#">EARPHONES</a></li>
  <li><a class="menu__item" href="#">SPEAKERS</a></li>
  <li><a class="menu__item" href="#">EXPLORE</a></li>
</ul>
</body>
<header>
  <div class="nav__menu">
    <div class="nav__burger">
      <div class="burger-menu"">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div class="nav__logo">
      <img class="logo_desktop" src="../img/logo.svg" alt="nav_logo">
      <img class="logo_mobile" src="../img/mobile/m_navlogo.svg" alt="m_nav_logo">
    </div>
    <div class="nav__list">
      <ul class="nav__list-item">
        <li><a class="nav__headphones" href="">HEADPHONES</a></li>
        <li><a class="nav__earphones" href="">EARPHONES</a></li>
        <li><a class="nav__speakers" href="">SPEAKERS</a></li>
        <li><a class="nav__explore" href="">EXPLORE</a></li>
      </ul>
    </div>
    <div class="nav__icons">
      <a href=""><img class="search" src="../img/search.png" alt="search"></a>
      <a href=""><img class="account" src="../img/account.svg" alt="account"></a>
      <a href=""><img class="bucket" src="../img/bucket.svg" alt="bucket"></a>
    </div>
  </div>
</header>
