/**** Миксины для различных цветов ****/

$bg_main: #2B2835;
$bg_main_rgba: rgba(25, 23, 32, 0.47);
$bg_text: #FFFFFF;
$clr_price: #9D8220;
$bd_signup: #BFBFBF;
$border_input: 1px solid #BFBFBF; //border input в блоке signup
$bg_product: #F8F8F9;
$bg_beatsx: #F4F4F4;
$grad_powerbeats: linear-gradient(118.04deg, #E040FB 14.55%, #0A00B6 84.03%);
$m-grad_powerbeats: linear-gradient(188.82deg, #E040FB 6.72%, #0A00B6 95.49%);
$bg_button: #00B0FF;
$bg_btn_hover: #00B0FF; //цвет button:hover
$change_color2: #DD5656;
$change_color3: #030303;


/**** Кнопки выбора цвеа продукта ****/
@mixin change_color {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
  margin-left: 13px;
}

/**** Кнопка для мобильной версии ****/
@mixin m-button {
  font-size: 14px;
  background: black;
  border: none;
  color: #FFFFFF;
  width: 145px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
}

/**** Кнопка для мобильной версии категории товара****/
@mixin button_catalog {
  font-size: 14px;
  background: black;
  border: none;
  color: #FFFFFF;
  width: 68px;
  height: 20px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
}

/**** Стрелки для слайдера ****/
@mixin arrow{
  height: 22px;
  width: 22px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-left: 70px;
  cursor: pointer;
}

/**** Миксины для медиазапросов ****/

@mixin mobile {
  @media (min-width: 320px) and (max-width: 575px) {
    @content;
  }
}

@mixin width576-1024 {
  @media (min-width: 576px) and (max-width: 1024px) {
    @content;
  }
}

@mixin width-768 {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin width-1024 {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin very-small {
  @media (min-width: 576px) and (max-width: 900px) {
    @content;
  }
}

@mixin mobile_size {
  @media (min-width: 320px) and (max-width: 1023px) {
    @content;
  }
}
@mixin medium-size {
  @media (min-width: 1024px) and (max-width: 1440px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px){
    @content;
  }
}

@mixin main_display {
  @media (min-width: 320px) and (max-width: 1440px) {
    @content;
  }
}


