$bg_main: #2B2835;
$bg_text: #FFFFFF;
$bd_signup: #BFBFBF;
$border_input: 1px solid #BFBFBF; //border input в блоке signup
$bg_product: #F8F8F9;
$bg_beatsx: #F4F4F4;
$grad_powerbeats: linear-gradient(118.04deg, #E040FB 14.55%, #0A00B6 84.03%);
$m-grad_powerbeats: linear-gradient(188.82deg, #E040FB 6.72%, #0A00B6 95.49%);
$bg_button: #00B0FF;
$bg_btn_hover: #00B0FF; //цвет button:hover
$change_color2: #DD5656;
$change_color3: #030303;

@mixin change_color {  //кнопки выбора цвеа продукта
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.135817);
  margin-left: 13px;
}

@mixin m-button { //Кнопка для мобильной версии
  font-size: 14px;
  background: black;
  border: none;
  color: #FFFFFF;
  width: 145px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
}

//Миксины для медиазапросов.

@mixin mobile {
  @media (min-width: 100px) and (max-width: 768px) {
    @content;
  }
}

@mixin width-768 {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin width-1024 {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile_size {
  @media (min-width: 320px) and (max-width: 1024px) {
    @content;
  }
}



