@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
  url("/src/assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
  url("/src/assets/fonts/Montserrat/Montserrat-Regular.eot") format("eot"),
  url("/src/assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
  url("/src/assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
  url("/src/assets/fonts/Montserrat/Montserrat-Bold.eot") format("eot"),
  url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
}

@mixin fonts_normal {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin fonts_bold {
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
}
