@import "mix";
@import "_mix_fonts";

.beats-pill__container{
  display: flex;
  height: 844px;
  @include mobile{
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    margin-top: 282px;
  }
}

.beats-pill {
  display: flex;
  background: $bg_text;
  @include width-1024{

  }
}

.beats-pill__product {
  flex: auto;
  margin-left: 90px;
  margin-top: 240px;
  @include mobile{
    flex: 0 1 auto;
    margin-top: -23px;
    margin-left: 19px;
    width: 320px;
  }
  @include width-1024{
    margin-top: 100px;
    margin-bottom: 89px;
  }

}

.beats-pill__title{
  @include mobile{
    display: block;
  }
}

.beats-pill__description {
  padding-left: 3px;
  @include fonts_normal;
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
  @include mobile{
    padding-left: 11px;
  }
}

.beats-pill__name {
  @include fonts_bold;
  font-size: 50px;
  line-height: 55px;
  margin-top: 7px;
  color: #2B2835;
  @include mobile{
    font-size: 32px;
    margin-top: 3px;
    padding-left: 8px;
  }
}

.beats-pill__price {
  display: flex;
  @include mobile{
    padding-left: 8px;
  }
}

.beats-pill__change {
  padding-left: 5px;
  @include fonts_normal;
  font-size: 40px;
  line-height: 55px;
  color: #2B2835;
  margin-top: 20px;
  @include mobile{
    font-size: 32px;
    margin-top: -6px;
    padding-left: 14px;
  }
}

.beats-pill__find {
  padding-left: 9px;
  @include fonts_normal;
  font-size: 16px;
  line-height: 20px;
  color: $bg_main;
  margin-top: 11px;
  @include mobile{
    padding-left: 18px;
  }
}

.beats-pill__buy {
  @include fonts_normal;
  flex:auto;
  font-size: 40px;
  line-height: 49px;
  color: $bg_main;
  margin-top: 47px;
  @include mobile{
    font-size: 32px;
    margin-top: 31px;
  }
}

.beats-pill__button {
  @include fonts_normal;
  flex: auto;
  position: absolute;
  width: 110px;
  height: 41px;
  border-radius: 100px;
  background: black;
  color: $bg_text;
  text-align: center;
  line-height: 17px;
  text-decoration: none;
  margin-top: 51px;
  margin-left: 200px;
  border: none;
  transition: background 0.5s ease;
  @include mobile{
    @include m-button;
    margin-left: 148px;
    margin-top: 31px;
  }
}

.beats-pill__button:hover {
  background: $bg_btn_hover;
}

.beats-pill__slider{
  @include mobile{
    flex: 0 1 auto;
  }
}

.beats-pill__img {
  width: 100%;
  padding-top: 47px;
  padding-left: 115px;
  height: auto;
  @include mobile{
    display: none;
  }
}
.m_beats-pill__img{
  display: none;
  @include mobile{
    display: block;
    margin-top: 350px;
    padding-left: 11px;
  }
}

.beats-pill__music {
  @include fonts_normal;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.52;
  margin-top: 12px;
  @include mobile{
    margin-bottom: 97px;
    padding-left: 8px;
  }
}
.beats-pill__color {
  @include mobile {
    margin-bottom: 19px;
  }
}


.change-color {
  margin-top: 10.51px;
  margin-left: 0;
  @include mobile{
    margin-bottom: 0px;
    margin-top: 0;
  }
}

.color-white {
  @include change_color;
  width: 47px;
  height: 47px;
  background: #FFFFFF;
  @include mobile {
    border: 1px solid #000000;
  }
}

.color-red {
  @include change_color;
  background: #DD5656;
}

.color-black {
  @include change_color;
  background: #030303;
}

.change-color a:hover {
  opacity: 0.7;
}

.slider {
  div {
    display: inline-flex;
    position: relative;
    bottom: 149px;
    margin-right: 10px;
    left: 460px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #D1D1D1;
  }
  div:hover{
    width: 11px;
    height: 11px;
  }
  div:first-child {
    background: black;
  }
  div:first-child:hover{
    width: 11px;
    height: 11px;
    background: black;
  }

  @include mobile_size {
    display: none;
  }
}
