@import "_mix";
@import "_mix_fonts";

.beatsx__container {
  position: relative;
  display: flex;
  width: auto;
  height: 844px;
  background: $bg_product;
  top: 171px;
  z-index: -1;
  @include mobile{
    display: inline-flex;
    flex-direction: column-reverse;
  }
}

.beatsx__product {
  flex: auto;
  position: absolute;
  left: 6.7%;
  top: 24.3%;
  width: auto;
  @include mobile{
    flex: 0 1 auto;
    margin-top: 40px;
    margin-left: 19px;
  }
}

.beatsx__title {
  @include fonts_normal;
  font-size: 16px;
  line-height: 20px;
  color: $bg_main;
}

.beatsx__name {
  @include fonts_bold;
  font-size: 50px;
  line-height: 55px;
  margin-top: 7px;
  color: $bg_main;
}

.beatsx__description {
  @include fonts_normal;
  font-size: 14px;
  line-height: 27px;
  margin-top: 22px;
}

.beatsx__image {
  position: absolute;
  flex: auto;
  top: 4.5%;
  left: 46.9%;
  width: 100%;
  height: auto;
  .beatsx__img{
    @include mobile{
      display: none;
    }
  }
  .m-beatsx__img{
    display: none;
    @include mobile{
      position: absolute;
      bottom: -200px;
      display: block;
    }
  }
}

.beatsx__price {
  display: inline-flex;
  margin-top: 70px;
}

.beatsx__buy {
  @include fonts_normal;
  font-size: 40px;
  line-height: 49px;
  color: $bg_main;
  @include mobile{
    font-size: 32px;
  }
}

.beatsx__button {
  @include fonts_normal;
  width: 110px;
  height: 41px;
  border-radius: 100px;
  background: #000000;
  color: $bg_text;
  line-height: 40px;
  text-decoration: none;
  border: none;
  margin-left: 41px;
  transition: background 0.5s ease;
  @include mobile{
    @include m-button;
    margin-left: 10px;
  }
}

.beatsx__button:hover {
  background: $bg_btn_hover;
}
