/** {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

.footer {
  position: relative;
  display: flex;
  background: #1c1c2a;
  height: 344px;
  margin-bottom: 0;
}

.footer__content_logo {
  flex: auto;
  max-width: 200px;
  margin-top: 55px;
  margin-left: 135px;
}

.footer-menu {
  display: flex;
  flex: auto;
  margin-top: 55px;
}

.footer-menu li a {
  font-size: 15px;
  opacity: 0.47;
}

.products-list .support-list, .company-list, .follow-list {
  flex: auto;
  justify-content: space-around;
}

.footer li {
  color: white;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #00B0FF;
  font-size: 18px;
}

.column_name {
  font-size: 24px;
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 52px;
  line-height: 15px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.31;
}


