@import "mix";

.footer {
  background: #2B2835;
  height: 344px;
  @media (min-width: 320px) and (max-width: 768px){
    height: auto;
  }
}

.footer__main {
  display: inline-flex;
  padding-bottom: 21px;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 55px;
  @media (min-width: 320px) and (max-width: 768px){
    display: block;
    flex-direction: column;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }
}

.footer__logo {
  flex: auto;
  text-align: center;
  margin-left: 135px;
  @media (min-width: 320px) and (max-width: 768px){
    margin: 0;

  }
}

.footer__menu{
  flex: auto;
  align-items: center;
  justify-content: center;
}

.footer__list {
  display: inline-flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $bg_text;
  list-style: none;
  //height: 239px;
  @media (min-width: 320px) and (max-width: 768px){
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-top: 35px;
  }
  a{
    color: $bg_text;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    opacity: 0.5;
    @media (min-width: 320px) and (max-width: 768px){
      opacity: 0.8;
    }
  }
  a:hover {
    color: $bg_button;
  }
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    @media (min-width: 320px) and (max-width: 768px){
      font-size: 18px;
    }
  }
}
.products-list, .support-list, .company-list {
  flex: auto;
  li {
    list-style: none;
  }
}

.products-list {
  padding-right: 88px;
  padding-left: 99px;
  @media (min-width: 320px) and (max-width: 768px){
    padding: 0;
  }
}

.support-list {
  padding-right: 88px;
  @media (min-width: 320px) and (max-width: 768px){
    padding: 0;
  }
}

.company-list {
  padding-right: 90px;
  @media (min-width: 320px) and (max-width: 768px){
    padding: 0;
  }
}

.footer__follow {
  flex: 0 1 auto;
  color: $bg_text;
  margin-right: 182px;
  @media (min-width: 320px) and (max-width: 768px){
    margin-right: 0;
    margin-top: 25px;
  }
  i{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    color: $bg_main;
    background: $bg_text;
    margin-top: 30px;
    margin-right: 14px;
    @media (min-width: 320px) and (max-width: 768px){
      margin: 14px 10px 0 0;
    }
  }
  i:hover {
    color: $bg_text;
    background: #00B0FF;
  }
}

.copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $bg_text;
  mix-blend-mode: normal;
  opacity: 0.31;
  text-align: center;
  @media (min-width: 320px) and (max-width: 768px){
    margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .products-list, .support-list, .company-list {
    width: 350px;
    box-shadow: 0 0 5px grey;
    margin: 10px;
  }
  .class_a {
    padding: 5px 10px;
    background: $bg_main;
    cursor: pointer;
  }
  .class_b {
    padding: 5px;
    margin-bottom: 5px;
    display: none;
  }
}

