.footer {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-around;
  position: absolute;
  padding-top: 20px;
  margin-top: 63px;
  width: 100%;
  height: 344px;
  background: #2B2835;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__list a {
  color: white;
  text-decoration: none;
  opacity: 0.67;
}

.footer__list a:hover{
  color: #00B0FF;
}

.footer__list li{
  padding: 6px;
}

.column_name {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
}

.footer__content_wrap {
  padding-bottom: 21px;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 55px;
}

.footer__content_logo {
  position: absolute;
  left: 9.38%;
  right: 87.16%;
}

.copyright {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 15px;
  mix-blend-mode: normal;
  opacity: 0.31;
}
