* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  background: #1c1c2a;
  height: 344px;
}

.footer__content_logo {
  flex: auto;
  max-width: 200px;
  margin-top: 55px;
  margin-left: 9.38%;
}

.footer-menu {
  flex: auto;
  display: flex;
  margin-top: 55px;
}
.products-list .support-list, .company-list, .follow-list {
  flex: auto;
}

.products-list {
  width: 150px;
}

.support-list{
  width: 229px;
}

.company-list {
  width: 159px;
}

.footer li {
  color: white;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #00B0FF;
}

.column_name {
  font-size: 24px;
}

