@import "_mix";
@import "_mix_fonts";

.headphones__container {
  position: relative;
  background: $bg_main;
  width: 100%;
  @include mobile{
    display: block;
    max-height: 100%;
    padding: 0;
    width: 100%;
  }
}

.headphones__product {
  display: inline-flex;
  @include mobile{
    display: flex;
    flex-direction: column;
  }
}

.hp__img {
  flex: auto;
  min-width: 100%;
  @include mobile{
    display: block;
  }
}

.headphones__img {
  flex: auto;
  display: block;
  position: absolute;
  height: auto;
  z-index: 0;
  top: 0;
  @include mobile {
    display: none;
  }
}

.m-headphones__img {
  display: none;
  @include mobile {
    display: block;
    width: 100%;
    z-index: 0;
    border-left: 25em;
  }
}

.headphones__product-buy {
  flex: auto;
  padding-top: 199px;
  @include mobile{
    position: relative;
    width: 100%;
    left: 0;
    padding-left: 19px;
    padding-top: 19px;
    padding-bottom: 21px;
  }
}

.headphones__name {
  @include fonts_normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.headphones__description {
  @include fonts_bold;
  font-size: 40px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 13px;
}

.headphones__buy {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
}

.headphones__price {
  @include fonts_normal;
  font-size: 40px;
  margin-right: 34px;;
  line-height: 49px;
  color: #F2F2F2;
  @include mobile{
    font-size: 32px;
    margin-right: 0;
    line-height: 39px;
  }
}


.headphones__button {
  @include fonts_normal;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: black;
  background: $bg_button;
  border-radius: 100px;
  border: none;
  width: 170px;
  height: 41px;
  @include mobile{
    @include m-button;
    background: $bg_button;
    margin-left: 10px;
  }
}


.headphones__button:hover {
  background: $bg_btn_hover;
}

.headphones__music {
  @include fonts_normal;
  color: $bg_button;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  @include mobile{
    width: 290px;
    mix-blend-mode: normal;
    opacity: 0.68;
    line-height: 18px;
  }
}
