@import "_mix";
@import "_mix_fonts";

.headphones {
  position: relative;
  height: 538px;
  background: $bg_main;
  background-size: 100% auto;
  width: 100%;
  @include mobile{
    display: block;
    height: 208px;
    padding: 0;
    width: 100%;
  }
}

.headphones__product {
  display: inline-flex;
  @include mobile{
    display: flex;
    flex-direction: column;
  }
  @include width-1024{
    flex-direction: row;
  }
}

.hp__img {
  flex: auto;
  @include mobile{
    display: block;
  }
}

.headphones__img {
  flex: auto;
  display: block;
  position: absolute;
  width: 55%;
  height: auto;
  z-index: 0;
  top: 0%;
  @include mobile {
    display: none;
  }
}

.m-headphones__img {
  display: none;
  @include mobile {
    display: block;
    z-index: 0;
    border-left: 25em;
  }
  @include width-1024{
    width: 120%;
  }
}

.headphones__product-buy {
  flex: auto;
  position: absolute;
  top: 22.5%;
  left: 55.34%;
  right: 9.37%;
  @include mobile{
    position: relative;
    left: 0;
    margin-left: 19px;
  }
}

.headphones__name {
  @include fonts_normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  @include mobile{
    color: black;
  }
}

.headphones__description {
  @include fonts_bold;
  font-size: 40px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 13px;
  @include mobile{
    color: black;
  }
}

.headphones__buy {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 51px;
  @include mobile{

  }
}

.headphones__price {
  @include fonts_normal;
  font-size: 40px;
  margin-right: 43px;;
  line-height: 49px;
  color: #F2F2F2;
  @include mobile{
    color: black;
    font-size: 32px;
    margin-right: 0;
    line-height: 39px;
  }
}


.headphones__button {
  @include fonts_normal;
  font-size: 14px;
  margin-right: 34px;
  text-decoration: none;
  text-align: center;
  color: black;
  background: $bg_button;
  border-radius: 100px;
  border: none;
  width: 170px;
  height: 41px;
  @include mobile{
    @include m-button;
    background: $bg_button;
    margin-left: 10px;
  }
}


.headphones__button:hover {
  background: $bg_btn_hover;
}

.headphones__music {
  @include fonts_normal;
  color: $bg_button;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  @include mobile{
    width: 290px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.68;
    line-height: 18px;
  }
}
