* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100%;
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.headphones {
  display: flex;
  position: absolute;
  width: 856px;
  height: 766px;
  left: 0;
  top: 0;
}

.product_buy {
  height: 616px;
  background: #2B2835;
}

.product {
  align-self: flex-end;
  position: relative;
  z-index: 2;
  padding-top: 200px;
  color: #fff;
  max-width: 510px;
  margin-right: 4%;
}
.product__button {
  position: absolute;
  width: 170px;
  height: 41px;
  border-radius: 100px;
  background: #00B0FF;
  color: black;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.product__price-buy {
  display: flex;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 15px;
}

.product__description_small{
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 1px;
}

.product__description_long {
  color: #00B0FF;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.product__price {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}

.product__name {
  top: calc(50% - 86px/2 - 43px);
  height: 86px;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
}

.beats-pill {
  display: flex;
  grid-template-columns: 50% 50%;
  background: white;
}

.beats-pill_description {
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}

.beats-pill__product {
  flex: auto;
  margin-left: 93px;
  margin-top: 189px;
}

.beats-pill__price {
  display: flex;
}

.beats__img {
  flex:auto;
  left: 631px;
  top: 663px;
}

.beats-pill__change {
  font-size: 40px;
  line-height: 55px;
  color: #2B2835;
}

.beats-pill__find {
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}

.beats-pill__buy {
  flex:auto;
  font-size: 40px;
  line-height: 49px;
  color: #2B2835;
}

.beats-pill__button {
  flex: auto;
  position: absolute;
  width: 110px;
  height: 41px;
  margin-left: 190px;
  border-radius: 100px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;

}

.change-color a:visited{
  color: black;
}

.change-color a:hover{
  width: 50px;
  height: 50px;
  color: black;
}

.color-white {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 100px;
  background: white;
}

.color-red {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: #DD5656;
}

.color-black {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: black;
}

.change-color a:hover {
  opacity: 0.7;
}

.powerbeats {
  height: 844px;
  background: linear-gradient(118.04deg, #E040FB 14.55%, #0A00B6 84.03%);
}

.powerbeats__product {
  display: flex;
  background: url("/src/img/group_18.svg");
  background-size: 100%;
  height: 700px;
  top: 1451px;

}

.powerbeats__img {
  flex: auto;
  width: 701px;
  height: 804px;
  left: 49px;
  top: 1466px;

}

.powerbeats__product-buy {
  flex: auto;
}

.powerbeats__description-small {
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.powerbeats__title{
  color: #F8F8F9;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

.powerbeats__description{
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
}

.powerbeats__price{
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
}

.powerbeats__buy{
  flex: auto;
  /*position: absolute;*/
  width: 170px;
  height: 41px;
  margin-left: 190px;
  border-radius: 100px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.powerbeats__button{
  text-decoration: none;
  color: white;
}

.powerbeats__button:hover{
  color: #00B0FF;
}

.powerbeats__music{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.page-title {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
  line-height: 0.85;
}

.page-title > i {
  display: block;
  font-size: 2em;
  margin-bottom: 0.3em;
}


.spacer {
  flex: 2 1 auto;
}


