* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  background: white;
}

.headphones {
  height: 538px;
  background: #2B2835;
}

.headphones__product {
  display: inline-flex;
  background-size: 100%;
}

.headphones__img {
  flex: auto;
  position: relative;
  z-index: 0;
  width: 856px;
  height: 766px;
  left: 0;
  top: -78px;
}

.headphones__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.headphones__description {
  height: 86px;
  width: 506px;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 13px;
}

.headphones__product-buy {
  flex: auto;
  margin-top: 199px;
}

.headphones__buy {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 51px;
}

.headphones__price {
  font-size: 40px;
  margin-right: 43px;;
  line-height: 49px;
  color: #F2F2F2;
}

.headphones__button {
  margin-right: 34px;
  text-decoration: none;
  text-align: center;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  border: none;
  width: 170px;
  height: 41px;
}

.headphones__music {
  color: #00B0FF;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.beats-pill {
  display: flex;
  background: white;

}

.beats-pill_description {
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}

.beats-pill__name {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  margin-top: 7px;
  color: #2B2835;
}

.beats-pill__product {
  flex: auto;
  margin-left: 93px;
  margin-top: 189px;
}

.beats-pill__price {
  display: flex;
}

.beats__img {
  flex:auto;
  left: 631px;
  top: 663px;
  margin-right: auto;
}

.beats-pill__change {
  font-size: 40px;
  line-height: 55px;
  color: #2B2835;
  margin-top: 20px;
}

.beats-pill__find {
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
  margin-top: 11px;
}

.beats-pill__buy {
  flex:auto;
  font-size: 40px;
  line-height: 49px;
  color: #2B2835;
  margin-top: 51px;
}

.beats-pill__button {
  flex: auto;
  position: absolute;
  width: 110px;
  height: 41px;
  border-radius: 100px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-top: 51px;
  margin-left: 163px;
  border: none;
}

.beats-pill__music {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.52;
  margin-top: 12px;
}

.change-color {
  margin-top: 19px;
}

.color-white {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 100px;
  background: white;
}

.color-red {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: #DD5656;
  margin-left: 13px;
}

.color-black {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: black;
  margin-left: 13px;
}

.change-color a:hover {
  opacity: 0.7;
}

.powerbeats {
  display: inline-flex;
  width: 100%;
  height: 844px;
  background: linear-gradient(118.04deg, #E040FB 14.55%, #0A00B6 84.03%);
}

.powerbeats__product {
  display: flex;
  background: url("/src/img/group_18.svg");
  background-size: 100%;
  height: 700px;
  top: 1451px;

}

.powerbeats__img {
  flex: auto;
  position: relative;
  z-index: 0;
  width: 856px;
  height: 766px;
  left: 0;
  top: -78px;
}

.powerbeats__product-buy {
  flex: auto;
  margin-top: 233px;
  width: 100%;
  margin-left: 32px;
}

.powerbeats__description-small {
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.powerbeats__title{
  color: #F8F8F9;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  margin-top: 7px;
}

.powerbeats__description{
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  margin-top: 22px;
}

.powerbeats__price{
  display: inline-flex;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
  margin-top: 70px;
}

.powerbeats__button{
  font-size: 14px;
  background: black;
  border: none;
  color: #FFFFFF;
  width: 170px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
}

.powerbeats__music{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.beatsx {
  display: inline-flex;
}

.beatsx__product-buy {
  flex: auto;
}

.beatsx__img {
  flex: auto;
}

.beatsx__description-small {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}

.beatsx__title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
  margin-top: 7px;
}

.beatsx__description{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #030303;
  margin-top: 22px;
}

.beatsx__price {
  display: inline-flex;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  margin-top: 70px;
}

.beatsx__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 110px;
  height: 41px;
  border-radius: 100px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin-top: 51px;
  margin-left: 163px;
  border: none;
}





