@import "mix";
@import "mix_fonts";

.burger-menu {
  display: none;
}

.nav__menu {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 78px;
  background-color: rgba(25, 23, 32, 0.47);
  align-items: center;
  @include mobile{
    height: 40px;
  }
}
.nav__logo {
  position: absolute;
  @include mobile {
    position: relative;
  }
  @include width-1024{
    position: absolute;
    left: -8%;

  }
}

.logo_desktop {
  padding-left: 94px;
  @include mobile{
    padding-left: 20px;
    width: 46.93px;
    padding-top: 6px;
  }
}

.nav__list {
  flex: auto;
  max-width: 100%;
}

.nav__list-item {
  display: flex;
  list-style: none;
  @include fonts_normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.90909px;
  justify-content: center;
  @include mobile{
    display: none;
  }
  @include width-768 {
    font-size: 10px;
  }
  @include width-1024{
    font-size: 12px;
  }
}

.nav__list-item li{
  flex: 1 1 auto;
  max-width: 13%;
  margin: 0 2%;
}

.nav__list a {
  text-decoration: none;
  color: $bg_text;
}

.nav__list a:hover {
  font-size: 16px;
  text-decoration: none;
  color: $bg_button;
}

.nav__icons {
  display: flex;
  position: absolute;
  left: 77.6%;
  @include mobile{
    margin: 0;
    padding-top: 9px;
    filter: hue-rotate(500deg) brightness(9.5) saturate(600%);
  }
  @include width-1024{
    right: 0;
  }
}

.search {
  flex: auto;
  width: 25px;
  height: 25px;
  margin-right: 47px;
  @include mobile{
    display: none;
  }
  @include width-1024{
    margin-right: 23px;
  }
}
.search:hover {
  width: 30px;
  height: 30px;
}

.account {
  flex: auto;
  width: 25px;
  height: 25px;
  margin-right: 46px;
  @include mobile{
    margin-right: 20px;
  }
  @include width-1024 {
    margin-right: 23px;
  }
}
.account:hover {
  flex: auto;
  width: 30px;
  height: 30px;
}

.bucket {
  width: 25px;
  height: 27px;
}
.bucket:hover {
  width: 30px;
  height: 30px;
}
