.nav__menu {
  display: inline-flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 78px;
  background-color: rgba(25, 23, 32, 0.47);
  align-items: center;
}

.nav__list {
  flex: auto;
}

.nav__list-item {
  margin: 0;
  padding: 4px;
  list-style: none;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.90909px;
  min-width: 100%;
  max-width: 100%;
}

.nav__list-item li{
  display: inline;
  padding: 113px;
}

.nav__list a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav__list a:hover {
  text-decoration: none;
  color: #00B0FF;
}

.nav__icons {
  margin-right: 24px;
}

.nav__logo {
  margin-left: 94px;
}

.search {
  width: 25px;
  height: 25px;
  margin-right: 47px;
}

.account {
  width: 25px;
  height: 25px;
  margin-right: 46px;
}

.bucket {
  width: 25px;
  height: 27px;
}



