@import "mix";

.powerbeats {
  width: 100%;
  height: 844px;
  background: $grad_powerbeats;
  @media (min-width: 320px) and (max-width: 768px){
    background: $m-grad_powerbeats;
  }
}

.powerbeats__product {
  display: flex;
  background: url("/src/img/group_18.svg");
  height: 700px;
  @media (min-width: 320px) and (max-width: 576px){
    display: inline-flex;
    flex-direction: column;
    background: url("/src/img/mobile/powerbeats_bg.png");
  }
  @media (min-width: 576px) and (max-width: 768px){
    display: inline-flex;
    flex-direction: column;
    background: url("/src/img/group_18.svg");
  }
}

.powerbeats__img {
  flex: auto;
  position: relative;
  z-index: 0;
  @media (min-width: 320px) and (max-width: 768px){
    display: none;
  }
}

.m-powerbeats__img{
  display: none;
  @media (min-width: 320px) and (max-width: 768px){
    display: block;
    flex: 0 1 auto;
  }
}

.powerbeats__product-buy {
  flex: auto;
  margin-top: 233px;
  width: 50%;
  margin-left: 32px;
  @media (min-width: 320px) and (max-width: 768px){
    flex: 0 1 auto;
    margin-top: 0;
    margin-left: 11px;
  }
}

.powerbeats__description-small {
  font-family: Montserrat, Serif;
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.powerbeats__title{
  font-family: Montserrat-Bold, Serif;
  color: #F8F8F9;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 7px;
  @media (min-width: 320px) and (max-width: 768px){
    font-size: 32px;
  }
}

.powerbeats__description{
  font-family: Montserrat, Serif;
  color: #F8F8F9;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  margin-top: 22px;
}

.powerbeats__price {
  font-family: Montserrat, Serif;
  display: inline-flex;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
  margin-top: 70px;
  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 32px;
    line-height: 39px;
    margin-top: 26px;
  }
}

.powerbeats__button{
  font-family: Montserrat, Serif;
  font-size: 14px;
  background: black;
  border: none;
  color: #FFFFFF;
  width: 170px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
  @media (min-width: 320px) and (max-width: 768px){
    @include m-button;
    margin-left: 10px;
  }
}

.powerbeats__button:hover {
  background: $bg_btn_hover;
}

.powerbeats__music{
  font-family: Montserrat, Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: $bg_text;
  @media (min-width: 320px) and (max-width: 768px){
    margin-top: 14px;
  }

}
