@import "_mix";
@import "_mix_fonts";

.powerbeats {
  width: 100%;
  height: 844px;
  background: $grad_powerbeats;
  @include mobile{
    background: $m-grad_powerbeats;
  }
  @include width-1024{
    height: auto;
  }
  @include width-768{
    margin-top: 150px;
  }
}

.powerbeats__product {
  position: relative;
  display: flex;
  background: url("/src/img/group_18.svg");
  height: 700px;
  @include mobile{
    display: inline-flex;
    flex-direction: column;
    background: url("/src/img/mobile/powerbeats_bg.png");
  }
  @include width-768{
    display: inline-flex;
    flex-direction: column;
    background: url("/src/img/group_18.svg");
  }
}

.powerbeats__image {
  position: absolute;
  width: 100%;
  height: auto;
}

.powerbeats__img {
  flex: auto;
  width: 50%;
  height: auto;
  z-index: 0;
  @include mobile{
    display: none;
  }
  @include width-1024{
    margin-top: 100px;
  }
}

.m-powerbeats__img{
  display: none;
  @include mobile{
    display: block;
    flex: 0 1 auto;
  }
}

.powerbeats__product-buy {
  position: absolute;
  left: 46.9%;
  flex: auto;
  margin-top: 233px;
  width: 50%;
  @include mobile{
    flex: 0 1 auto;
    margin-top: 326px;
    margin-left: 11px;
  }
  @include width-1024{
    margin-top: 150px;
  }
}

.powerbeats__description-small {
  @include fonts_normal;
  color: $bg_text;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
}

.powerbeats__title{
  @include fonts_bold;
  color: $bg_product;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 7px;
  @include mobile{
    font-size: 32px;
  }
  @include width-1024{
    font-size: 36px;
  }
}

.powerbeats__description{
  @include fonts_normal;
  color: #F8F8F9;
  font-size: 14px;
  line-height: 27px;
  margin-top: 22px;
  @include mobile{
    width: 250px;
  }
}

.powerbeats__price {
  @include fonts_normal;
  display: inline-flex;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
  margin-top: 70px;
  @include mobile {
    font-size: 32px;
    line-height: 39px;
    margin-top: 26px;
  }
}

.powerbeats__button{
  @include fonts_normal;
  font-size: 14px;
  background: black;
  border: none;
  color: $bg_text;
  width: 170px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  text-align: center;
  transition: background 0.5s ease;
  @include mobile{
    @include m-button;
    margin-left: 10px;
  }
}

.powerbeats__button:hover {
  background: $bg_btn_hover;
}

.powerbeats__music{
  @include fonts_normal;
  font-size: 13px;
  line-height: 20px;
  color: $bg_text;
  @include mobile{
    margin-top: 14px;
    width: 300px;
  }
}
