@import "mix";

.signup {
  text-align: center;
  background: $bg_product;
  margin: 7.4% 6.5% 4.8%;
  padding-top: 52px;
  padding-bottom: 51px;
}

.signup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 55px;
}

.signup__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 17px;
  margin-bottom: 47px;
}


.signup__input {
  input {
    width: 507px;
    height: 36px;
    border-radius: 100px;
    margin: auto;
    box-sizing: border-box;
    border: $border_input;
    padding: 0 22px;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 257px;
      height: 41px;
      padding: 0 12px;
    }
  }
}

.signup__button {
  background: #00B0FF;
  border-radius: 100px;
  width: 507px;
  height: 41px;
  color: $bg_text;
  border: none;
  margin-top: 19px;
  margin-bottom: 50px;

  @media (min-width: 320px) and (max-width: 768px) {
    width: 257px;
    height: 41px;
  }
}

.signup__button:hover {
  background: $bg_btn_hover;
}
