<section class="powerbeats">
  <div class="powerbeats__container">
    <div class="powerbeats__product">
      <div class="powerbeats__image">
        <img class="powerbeats__img" src="../../img/bitmap_2.svg" alt="powerbeats">
        <img class="m-powerbeats__img" src="../../img/mobile/m_bitmap_3.svg" alt="m-powerbeats">
      </div>
      <div class="powerbeats__product-buy">
        <div class="powerbeats__description-small">
          <p>Totally wireless high-performance earphones</p>
        </div>
        <div class="powerbeats__title">
          <h2>powerbeats pro</h2>
        </div>
        <div class="powerbeats__description">
          <p>Up to 9 hours of listening time</p>
          <p>Apple H1 Chip & Class 1 Wireless Bluetooth®</p>
          <p>Sweat & water resistant</p>
          <p>Adjustable, secure-fit earhooks</p>
        </div>
        <div class="powerbeats__price">
          <p>$199.95</p>
          <button class="powerbeats__button">BUY NOW</button>
        </div>
        <div class="powerbeats__music">
          <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
        </div>
      </div>
    </div>
  </div>
</section>
