@import "src/css/mix";
@import "src/css/mix_fonts";

.powerbeats__container {
  width: 100%;
  max-height: 844px;
  height: 100%;
  background: $grad_powerbeats;
  @include mobile{
    background: $m-grad_powerbeats;
  }
}

.powerbeats__product {
  position: relative;
  display: flex;
  background: url("/src/img/group_18.svg") no-repeat;
  @include mobile{
    display: inline-flex;
    flex-direction: column;
    background: none;
  }
  @include wide_screen{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.powerbeats__image {
  width: 100%;
  flex: auto;
  text-align: center;
  @include mobile{
    width: 50%;
  }
}
.powerbeats__img{
  @include mobile{
    display: none;
  }
  @include width576-1024{
    max-width: 100%;
  }
}

.m-powerbeats__img{
  display: none;
  @include mobile{
    display: block;
    flex: 0 1 auto;
  }
}

.powerbeats__product-buy {
  width: 100%;
  flex: auto;
  margin-top: 233px;
  max-height: 60%;
  @include mobile{
    flex: 0 1 auto;
    margin: 0 0 0 19px;
    padding-bottom: 35px;
  }
  @include width-1024{
    margin: 0;
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

.powerbeats__description-small {
  @include fonts_normal;
  color: $bg_text;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
}

.powerbeats__title{
  @include fonts_bold;
  color: $bg_product;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 7px;
  @include mobile{
    font-size: 32px;
    margin-top: 0;
  }
  @include width-1024{
    font-size: 32px;
  }
}

.powerbeats__description{
  @include fonts_normal;
  color: #F8F8F9;
  font-size: 14px;
  line-height: 27px;
  margin-top: 22px;
  @include mobile{
    margin: 0;
  }
}

.powerbeats__price {
  @include fonts_normal;
  display: inline-flex;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
  margin-top: 70px;
  @include mobile {
    font-size: 32px;
    line-height: 39px;
    margin-top: 26px;
  }
}

.powerbeats__button{
  @include fonts_normal;
  text-transform: uppercase;
  font-size: 14px;
  background: black;
  border: none;
  color: $bg_text;
  width: 170px;
  height: 41px;
  border-radius: 100px;
  text-decoration: none;
  margin-left: 41px;
  margin-top: 4px;
  text-align: center;
  transition: background 0.5s ease;
  @include mobile{
    @include m-button;
    margin-left: 10px;
  }
}

.powerbeats__button:hover {
  background: $bg_btn_hover;
}

.powerbeats__music{
  @include fonts_normal;
  font-size: 13px;
  line-height: 20px;
  color: $bg_text;
  padding-top: 19px;
  @include mobile{
    padding-top: 14px;
    width: 300px;
  }
}
