<section class="beatsx">
  <div class="beatsx__container">
    <div class="beatsx__product">
      <div>
        <p class="beatsx__title">Talk. Listen. Beats.</p>
        <h2 class="beatsx__name">Beatsˣ</h2>
      </div>
      <div class="beatsx__description">
        <p>
          Up to 8 hours of battery life </br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback</br>
          Sweat & water resistant</br>
          Apple W1 Chip & Class 1 Wireless Bluetooth®</br>
        </p>
      </div>
      <div class="beatsx__price">
        <p class="beatsx__buy">$299.95</p>
        <button class="beatsx__button">BUY NOW</button>
      </div>
    </div>
    <div class="beatsx__image">
      <img class="beatsx__img" src="../../img/bitmap_3.svg" alt="image">
      <img class="m-beatsx__img" src="../../img/mobile/m_bitmap_4.svg" alt="m-image">
    </div>
  </div>
</section>
