<!DOCTYPE html>
<html>
<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
<main class="main">
  <%= require('html-loader!../partials/nav.html') %>
  <section class="product_buy">
    <div class="container">
      <img class="headphones" src="../src/img/bitmap.svg" alt="headphones">
      <article class="product">
        <p class="product__description_small">Beats Studio3 Wireless</p>
        <p class="product__name">Experience your music like never before.</p>
        <div class="product__price-buy">
          <p class="product__price">$299.95</p>
          <a href="#" class="product__button">BUY NOW</a>
        </div>
        <p class="product__description_long">$60 Apple Music gift card with purchase of select Beats products.*</p>
      </article>
    </div>
  </section>
  </div>
  <section class="beats-pill">
    <div class="container">
      <article>
        <p class="beats-pill_description">Portable Wireless Speaker</p>
        <h2 class="product__name">Beats Pill<sup>+</sup></h2>
        <div class="beats-pill__color">
          <p class="beats-pill__change">Available Colors</p>
          <p class="beats-pill__find">Find your Color</p>
        </div>
        <div class="change-color">
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="beats-pill__price">
          <p class="beats-pill__buy">$299.95</p>BUY NOW</a>
        </div>
        <p class="product__description_long">$60 Apple Music gift card with purchase of select Beats products.*</p>
      </article>
      <article class="beats__slider">
        <img src="../src/img/bitmap_1.svg" alt="slider">
        <div class="beats__page">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </article>
    </div>
  </section>
</main>
<%= require('html-loader!../partials/footer.html') %>
</body>
</html>
